body{
    font-family: Arial, Helvetica, sans-serif;
}
.menubar{
    text-align: center;
    background-color: #0038A5;
    clear: right;
    padding: 10px;
}
.logo{
    float: left;
    height: 150px; 
    width: 150px;
    margin-left: 30px;
}
.menutext{
    color: white;
    text-decoration: none;
    padding: 15px;
}
.class-content{
    display: none;
    position: absolute;
    color: #0038A5;
    background-color: white;
}
.menutext:hover{
    color: #0038A5;
    background-color: white;
}
.rightsearch{
    float: right;
    margin-bottom: 15px;
    margin-top: 15px;
    clear: both;
}
h1{
    text-align: center;
}
.raoface{
    float: left;
    margin: auto;
    width: 25%;
}

.logout{
    float: right;
}

h2{
    border: black 1px solid;
    background-color: #0038A5;
    color: white;
    text-align: center;
    margin: auto;
}

.news{
    border: black 1px solid;
    height: 500px;
    width: 50%;
    margin: auto;
}

.newssection{
    font-size: 10px;
    border-bottom: black 1px solid;
    padding-left: 15px;
}

.newsheader{
    font-size: 15px;
    color: #0038A5;
}
