@charset "utf-8";
 
/* CSS Document */

.fullscreen-login-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: url(/images/login-bg.jpg);
    
    
  /*  
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    */
    
}

.login {
    width: 450px;
    position: absolute;
    display: block;
    top: 48%;
    left: 76%;
    z-index: 3;
    margin: -340px 0px 0px -155px;
    background: rgba(225,225,225,.9);
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0px 1px 0px rgba(225,225,225,0.3),inset 0px 1px 0px rgba(255,255,255,0.07)
}

.login2 {
    width: 450px;
    position: absolute;
    top: 48%;
    left: 76%;
    z-index: 3;
    margin: -340px 0px 0px -155px;
    background: rgba(225,225,225,.9);
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0px 1px 0px rgba(225,225,225,0.3),inset 0px 1px 0px rgba(255,255,255,0.07)
}


.login3 {
    width: 450px;
    z-index: 6;
    margin: -340px 0px 0px -155px;
    background: rgba(225,225,225,.9);
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0px 1px 0px rgba(225,225,225,0.3),inset 0px 1px 0px rgba(255,255,255,0.07)
}

.logo{
    top: 17%;
    bottom: auto;
    right: auto;
    left: 14%;
    position: relative;
    z-index: 3;
    
}


/* Float Elements 
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* Clear Floated Elements
---------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.figure{ margin:0px;}

img{ max-width:100%;}

a, a:hover, a:active{ outline:0px !important}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Primary Styles
---------------------------------*/
body {
	background:#FFF;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight:normal;
	color:#888888;
	margin:0;
}
h2{
	font-size:34px;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	letter-spacing: -1px;
	margin:0 0 15px 0;
	text-align:center;
	text-transform:uppercase;
    
    
}

h2-5{
	font-size:34px;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	letter-spacing: -1px;
	margin:0 0 5px 0;
	text-transform:uppercase;
}
h3{
	font-family: 'Montserrat', sans-serif;
	color:#000;
	font-size:16px;
	margin:0 0 5px 0;
	text-transform:uppercase;
	font-weight:400;
}
h6{
	font-size:16px;
	color:#3a3a3a;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	text-align:center;
	margin:0 0 60px 0;
}
p{
	line-height:24px;
	margin:0;
}
h9{
	font-size:27px;
	color:#fff;
	font-family: fantasy;
	font-weight:700;
	letter-spacing: -1px;
	margin:auto;
    display: block;
	text-align:center;
}

/* Header Styles
---------------------------------*/

.header{
	text-align:center;
	background:url(../vid/pexels-photo-47426.jpeg) center ;
	padding:280px 0;
}
.logo{
	width:130px;
	margin:0 auto 35px;
}
.header h1{
	font-family: 'Montserrat',sans-serif;
	font-size:70px;
	font-weight:400;
	letter-spacing: -1px;
	margin:0 0 20px 0 ;
    padding:15px 15px;
    background:#333;
	color:#fff;
    border-radius:15px;
}


/* Buttons
---------------------------------*/

.button{
	padding:15px 35px;
	background:#3737e5;
	color:#fff !important;
	font-size:16px;
	font-weight:400;
	font-family: 'Montserrat', sans-serif;
	display:inline-block;
	border-radius:6px;
	text-transform:uppercase;
	line-height:25px;
	margin-bottom:20px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
    box-shadow: 4px 4px 8px rgba(0,0,0,.3),inset 0px 0px 0px rgba(255,255,255,0.07);
}
.button:hover {
	text-decoration:none;
	color:#fff !important;
	background:#35a835;
    box-shadow: 10px 10px 0px rgba(0,0,0,.3),inset 7px 9px 0px rgba(255,255,255,0.07);
}

.button:active, .link:focus {
	/*background: #35a835;*/
	text-decoration:none;
	/*color:#222222 !important;*/
}


.button2{
	padding:15px 35px;
	background:#3737e5;
	color:#fff !important;
	font-size:16px;
	font-weight:400;
	font-family: 'Montserrat', sans-serif;
	display:inline-block;
	border-radius:6px;
	text-transform:uppercase;
	line-height:25px;
    margin: auto;
	margin-bottom:20px;
    margin-top: 20px; 
    display: block;
    justify-content: center;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
    box-shadow: 4px 4px 8px rgba(0,0,0,.3),inset 0px 0px 0px rgba(255,255,255,0.07);
}
.button2:hover {
	text-decoration:none;
   left: 50%;
	color:#fff !important;
	background:#35a835;
    box-shadow: 10px 10px 0px rgba(0,0,0,.3),inset 7px 9px 0px rgba(255,255,255,0.07);
}

.button2:active, .link:focus {
	/*background: #35a835;*/
	text-decoration:none;
	/*color:#222222 !important;*/
}

.button3{
	border: 0;
    background: #0087cc;
    border-radius: 4px;
    box-shadow: 0 5px 0 #006599;
    color: #fff;
    cursor: pointer;
    font: inherit;
    margin 0;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
    
}
/*.button3:hover {
	border: 0;
    background: green;
    border-radius: 4px;
    box-shadow: 0 5px 0 darkgreen;
    color: #fff;
    cursor: pointer;
    font: inherit;
    margin 0;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
}*/

.button3:active, .link:focus {
	/*background: #35a835;*/
	box-shadow: 0 2px 0 #006599;
    transform: translateY(3px);
	/*color:#222222 !important;*/
}



/* Navigation
---------------------------------*/





/* transitions handler
---------------------------------*/


/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.main-section.paddind{
	padding-bottom:60px;
}



/* random
---------------------------------*/




.form{
	margin:0 66px 0 3px;
}
.input-text{
	padding:15px 16px;
	border:1px solid #333;
	width:340px;
	height:30px;
	display:block;
	border-radius:10px;
	font-size:15px;
    border-color: aliceblue;
	color:#aaa;
	font-family: 'Open Sans', sans-serif;
	margin:0 0 30px 0;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
    background: #fff;
    box-shadow: 10px 10px 0px rgba(0,0,0,.2),inset 20px 20px 0px rgba(250,255,255,0.07);
}
.input-text:focus {
    color:black;
	border: 1px solid #7cc576;
	outline:0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);	
	box-shadow: 10px 10px 8px rgba(0,0,0,.3),inset 20px 20px 0px rgba(255,255,255,0.07);
}


.input-text2{
	padding:10px 16px;
	border:1px solid;
	width: 50%;
	height:30px;
	display: block;
	border-radius:10px;
	font-size:15px;
    border-color: blue;
	color:#aaa;
	font-family: 'Open Sans', sans-serif;
	margin:auto;
    margin-bottom: 20px;
    margin-top: 20px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
    background: #fff;
    box-shadow: 10px 10px 8px rgba(0,0,0,.2),inset 20px 20px 0px rgba(250,255,255,0.07);
    
        
        
}
.input-text2:focus {
    color:black;
	border: 1px solid #7cc576;
	outline:0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);	
	box-shadow: 10px 10px 8px rgba(0,0,0,.3),inset 20px 20px 0px rgba(255,255,255,0.07);
}


.input-text.text-area{
	height:165px;
	resize:none;
	overflow:auto;
    
    
    
}
.input-btn{
	width:175px;
	height:50px;
	background:#333;
	border-radius:4px;
	color:#ffffff;
	font-size:14px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	border:0px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
    
}

.input-btn:hover{
	background: #111;
	color: #fff;
}




.select{

	border:1px solid #333;
	width:375px;
	height:60px;
	border-radius:10px;
	font-size:15px;
    border-color: aliceblue;
	color: #aaa;
	font-family: 'Open Sans', sans-serif;
	margin:0 0 30px 0;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
    background: #fff;
    box-shadow: 10px 10px 8px rgba(0,0,0,.2),inset 20px 20px 0px rgba(250,255,255,0.07);
}
/* Footer
---------------------------------*/

.footer{
	background:url(../img/pw_maze_black_2X.png) left top repeat;
	padding:35px 0 35px;
}
.footer-logo{
	margin:15px auto 35px;
	width: 76px;
}
.copyright{
	color:#cccccc;
	font-size:14px;
	display:block;
	text-align:center;
}
.copyright a{
	color:#7cc576;
	font-weight:600;
	text-decoration: none;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.copyright a:hover {
	color: #fff;
}

.res-nav_click {
	line-height:38px;
	font-family: 'FontAwesome';
	font-size:38px;
	text-decoration: none !important;
	color:#777777;
	font-style:normal;
	display:none;
	width:42px;
	height:27px;
	margin:20px auto;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.res-nav_click:hover, .res-nav_click:active, .res-nav_click:focus {
	color: #7cc576 !important;
}

.portfolioContainer{
	max-width: 1140px;
}



    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    border-radius: 10px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 99999;
    
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #eaeaea;
    background-color: rgba(225,225,225,0.9); /* white w/ opacity */
    margin: auto;
    align-items: center;
    border-radius: 10px;
    padding: 0;
    border: 1px solid #888;
    z-index: 100000;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    box-shadow: 10px 10px 0px rgba(0,0,0,.3),inset 7px 9px 0px rgba(255,255,255,0.07);
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #3737e5;
    background-color: rgba(55,55,229,0.9); /* blue w/ opacity */
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #3737e5;
    background-color: rgba(55,55,229,0.9); /* blue w/ opacity */
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* PAGES
-------------------------------------------------*/

#main-page {
    height: 25px;
    width: 375px;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    background-color: #27ae60;
    display: none;
}


#next-page {
    height: 25px;
    width: 375px;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
    background-color: #e74c3c;
	display: none;
}

.maincontent, .nextcontent {
	padding-top: 40px;
    display: none;
}

a.back{
    font-family: 'Lato';
    font-size: 20px;
    color: #dfdfdf;
    text-decoration: none;
    text-align: center;
    width: 20%;
    margin: 25px auto 30px auto;
    display: block;
}



a.mainlink, a.nextlink {
    font-family: 'Lato';
    color: #fff;
    border: 3px solid #fff;
    padding: 15px 10px;
    display: block;
    text-align: center;
    margin: 25px auto;
    width: 13%;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;

}

a.mainlink:hover, a.nextlink:hover{
    background: #fff;
    color: #575757;
} 





/* Animation Timers
---------------------------------*/
.delay-02s { 
	animation-delay: 0.2s; 
	-webkit-animation-delay: 0.2s; 
}
.delay-03s { 
	animation-delay: 0.3s; 
	-webkit-animation-delay: 0.3s; 
}
.delay-04s { 
	animation-delay: 0.4s; 
	-webkit-animation-delay: 0.4s; 
}

.delay-05s { 
	animation-delay: 0.5s; 
	-webkit-animation-delay: 0.5s; 
}
.delay-06s { 
	animation-delay: 0.6s; 
	-webkit-animation-delay: 0.6s; 
}

.delay-07s { 
	animation-delay: 0.7s; 
	-webkit-animation-delay: 0.7s; 
}
.delay-08s { 
	animation-delay: 0.8s; 
	-webkit-animation-delay: 0.8s; 
}

.delay-09s { 
	animation-delay: 0.9s; 
	-webkit-animation-delay: 0.9s; 
}
.delay-1s { 
	animation-delay: 1s; 
	-webkit-animation-delay: 1s; 
}
.delay-12s { 
	animation-delay: 1.2s; 
	-webkit-animation-delay: 1.2s; 
}

/*
 * Keyframes
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */
.m-scene {
  /** Basic styles for an animated element */
  .scene_element {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

  }

  /** An element that fades in */
  .scene_element--fadein {
    animation-name: fadeIn;
  }

  /** An element that fades in and slides up */
  .scene_element--fadeinup {
    animation-name: fadeInUp;
  }

  /** An element that fades in and slides from the right */
  .scene_element--fadeinright {
    animation-name: fadeInRight;
  }
}



/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}



